* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
  float: left;
  width: 100%;
  max-width: 100%;
}

.p-rel {
  position: relative;
}

.banner {
  background-image: url("../img/bannerBG.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  margin-top: 0;
}

.banner .banner-title {
  font-weight: bold;
  font-size: 68px;
  line-height: 80px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

.banner .banner-subtitle {
  font-size: 48px;
  line-height: 50px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 25px;
}

.banner .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px;
  margin-bottom: 50px;
}

.banner .stats h3 {
  font-size: 68px;
  line-height: 80px;
  color: #FFFFFF;
}

.banner .stats p {
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 0;
}

.banner .banner-img {
  margin-bottom: -60px;
}

.client-info .container {
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  padding: 30px 40px;
}

.client-info .container .col {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.client-info .container .col:last-child {
  border-right: 0px;
}

.client-info .info-div {
  padding-left: 10px;
}

.client-info .info-div p {
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

.client-info .info-div .head {
  margin-bottom: 5px;
}

.client-info .info-div .subhead {
  margin-bottom: 0;
  color: #1761B9;
}

.heading {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  color: #1761B9;
  position: relative;
}

.heading::before {
  position: absolute;
  font-weight: bold;
  font-size: 92px;
  line-height: 104px;
  color: rgba(146, 146, 146, 0.06);
  top: -70px;
}

.scope-of-project {
  position: relative;
}

.scope-of-project .scope-img {
  position: absolute;
  right: 0;
  top: 0;
}

.scope-of-project .heading::before {
  content: "Scope";
}

.scope-of-project .text, .scope-of-project .obj {
  font-size: 22px;
  line-height: 36px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 10px;
}

.scope-of-project .obj {
  margin-top: 40px;
  font-weight: 600;
}

.scope-of-project .midhead {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #1761B9;
  margin-top: 50px;
  margin-bottom: 30px;
}

.scope-of-project .stats-box {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(210, 231, 255, 0.7)), to(rgba(175, 207, 245, 0)));
  background: linear-gradient(180deg, rgba(210, 231, 255, 0.7) 0%, rgba(175, 207, 245, 0) 100%);
  border-radius: 8px;
  padding: 20px 30px;
}

.scope-of-project .stats-box .icon {
  width: 60px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scope-of-project .stats-box .cont {
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  color: #1761B9;
  margin-top: 10px;
}

.scope-of-project .stats-box .stats {
  font-weight: bold;
  font-size: 44px;
  line-height: 58px;
  color: #1761B9;
}

.technology-used .heading {
  text-align: center;
}

.technology-used .heading::before {
  content: "Technology";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.technology-used .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology-used .tech-box {
  text-align: center;
  float: left;
  margin-left: 60px;
  margin-top: 50px;
}

.technology-used .tech-box:first-child {
  margin-left: 0;
}

.technology-used .tech-box .text, .technology-used .tech-box .scope-of-project .obj, .scope-of-project .technology-used .tech-box .obj {
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: #1F1F1F;
  margin-top: 10px;
}

.problem-challange {
  position: relative;
}

.problem-challange .problem-img {
  position: absolute;
  right: 0;
  top: -80px;
}

.problem-challange .heading::before {
  content: "Problem";
}

.problem-challange .text, .problem-challange .scope-of-project .obj, .scope-of-project .problem-challange .obj {
  font-size: 18px;
  line-height: 32px;
  color: #464646;
  margin-top: 25px;
}

.problem-challange .row2 {
  margin-top: 180px;
}

.problem-challange .row2 .problem-box {
  padding: 60px 35px 45px;
  background: #FCFCFC;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  position: relative;
}

.problem-challange .row2 .problem-box .num {
  width: 65px;
  height: 65px;
  border: 2px solid #1761B9;
  text-align: center;
  line-height: 65px;
  font-size: 26px;
  border-radius: 50%;
  color: #1761B9;
  position: absolute;
  top: -33px;
  background: #FFFFFF;
}

.problem-challange .row2 .problem-box h4 {
  font-size: 22px;
  line-height: 30px;
  color: #333333;
  margin-bottom: 12px;
}

.problem-challange .row2 .problem-box p {
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: #464646;
  margin-bottom: 0;
}

.project-process {
  position: relative;
  padding: 100px 0 130px;
  background-image: url("../img/our-process.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-process .heading {
  text-align: center;
}

.project-process .heading::before {
  content: "Process";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.project-process .project-box {
  margin-top: 60px;
  padding-right: 20px;
}

.project-process .project-box .icon {
  width: auto;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-process .project-box .title {
  font-size: 30px;
  color: #4A4A4A;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
}

.project-process .project-box .title::before {
  content: "";
  width: 2px;
  height: 20px;
  background: #1761B9;
  position: absolute;
  left: 5px;
  top: 9px;
}

.project-process .project-box .content {
  font-size: 18px;
  line-height: 32px;
  color: #4D4D4D;
  padding-left: 20px;
}

.project-process .project-box .content span {
  font-weight: bold;
}

.discover .subhead {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #4D4D4D;
  margin-top: 5px;
  margin-bottom: 50px;
}

.discover .subhead span {
  font-weight: bold;
}

.brainstorming {
  padding-top: 50px;
}

.brainstorming .heading {
  text-align: center;
}

.brainstorming .heading::before {
  content: "Brainstorming";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.brainstorming .miro {
  margin-top: 30px;
  margin-bottom: 40px;
}

.brainstorming .it {
  width: 100%;
  max-width: 100%;
  background: #F9FCFF;
  padding: 70px 0;
  margin-top: 80px;
}

.brainstorming .journey {
  padding-top: 70px;
}

.brainstorming .suggest .head {
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  color: #4A4A4A;
  margin: 16px 0 8px;
}

.brainstorming .suggest .subhead {
  font-size: 18px;
  line-height: 30px;
  color: #4D4D4D;
  margin-bottom: 30px;
}

.brainstorming .suggest .it-img {
  mix-blend-mode: multiply;
}

.define {
  padding: 80px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(165, 195, 230, 0.1)), to(rgba(165, 195, 230, 0)));
  background: linear-gradient(180deg, rgba(165, 195, 230, 0.1) 0%, rgba(165, 195, 230, 0) 100%);
}

.define .subhead {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #4D4D4D;
  margin-top: 5px;
  margin-bottom: 50px;
}

.define .subhead span {
  font-weight: bold;
}

.define .sol-for-prog {
  margin-top: 35px;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.define .sol-for-prog .solution-img {
  position: absolute;
  right: 0;
  top: 180px;
}

.define .sol-for-prog .heading {
  text-align: center;
}

.define .sol-for-prog .heading::before {
  content: "Solutions";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.define .sol-for-prog .solution-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(26, 34, 43, 0.08);
          box-shadow: 0px 8px 16px rgba(26, 34, 43, 0.08);
  border-radius: 10px;
  padding: 60px 30px 42px;
  position: relative;
  margin-top: 90px;
}

.define .sol-for-prog .solution-box .icon {
  position: absolute;
  top: -50px;
  left: 30px;
}

.define .sol-for-prog .solution-box .head {
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  margin: 16px 0;
}

.define .sol-for-prog .solution-box .content {
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1F1F1F;
  margin-bottom: 0;
}

.wireframe {
  margin-bottom: -220px;
}

.wireframe .heading {
  text-align: center;
}

.wireframe .heading::before {
  content: "Wireframes";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.design {
  background-image: url("../img/bannerBG.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  padding-top: 150px;
}

.design .heading {
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  z-index: -1;
}

.design .heading.bottom {
  color: #1761B9;
}

.design .heading.bottom::before {
  content: "Design System";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.design .subhead {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}

.images .color {
  margin-top: 50px;
}

.flow {
  margin-top: 240px;
}

.flow .image-wrapper {
  float: left;
  width: 50%;
}

.flow .image-wrapper:nth-child(2n + 1) {
  margin-top: -130px;
}

.flow .image-wrapper:nth-child(2n) {
  margin-top: 130px;
}

.flow .image-wrapper .head {
  font-size: 28px;
  line-height: 40px;
  color: #1761B9;
  padding-left: 50px;
  position: relative;
  margin-bottom: 20px;
}

.flow .image-wrapper .head::before {
  font-size: 60px;
  font-weight: bold;
  color: #1761B9;
  opacity: 0.1;
  position: absolute;
  left: 10px;
  top: 0;
}

.flow .image-wrapper .head.one::before {
  content: "1";
}

.flow .image-wrapper .head.two::before {
  content: "2";
}

.flow .image-wrapper .head.three::before {
  content: "3";
}

.flow .image-wrapper .head.four::before {
  content: "4";
}

.flow .image-wrapper .head.five::before {
  content: "5";
}

.flow .image-wrapper .head.six::before {
  content: "6";
}

.flow .image-wrapper .head.seven::before {
  content: "7";
}

.prototype .heading {
  text-align: center;
  margin-bottom: 60px;
}

.prototype .heading::before {
  content: "Prototyping";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prototype .prototype-img {
  mix-blend-mode: darken;
}

footer {
  background-image: url("../img/footerBG.png");
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  float: left;
  padding-top: 200px;
  padding-bottom: 100px;
}

footer .thanks {
  text-align: center;
  font-size: 44px;
  line-height: 56px;
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */