*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    margin-top: 60px;
    margin-bottom: 60px;
    float: left;
    width: 100%;
    max-width: 100%;
}

.p-rel{
    position: relative;
}

.banner{
    background-image: url("../img/bannerBG.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    margin-top: 0;
    .banner-title{
        font-weight: bold;
        font-size: 68px;
        line-height: 80px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
    }
    .banner-subtitle{
        font-size: 48px;
        line-height: 50px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 25px;
    }

    .stats{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        margin-bottom: 50px;
        h3{
            font-size: 68px;
            line-height: 80px;
            color: #FFFFFF;
        }
        p{
            font-weight: 600;
            font-size: 22px;
            line-height: 34px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
    .banner-img{
        margin-bottom: -60px;
    }
}


.client-info{
    .container{
        background: #FFFFFF;
        border: 1px solid #C1C1C1;
        border-radius: 10px;
        padding: 30px 40px;
        .col{
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            &:last-child{
                border-right: 0px;
            }
        }
    }
    .info-div{
        padding-left: 10px;
        p{
            font-size: 18px;
            line-height: 26px;
            text-transform: capitalize;
        }
        .head{
            margin-bottom: 5px;
            
        }
        .subhead{
            margin-bottom: 0;
            color: #1761B9;
        }
    }
}


.heading{
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    color: #1761B9;
    position: relative;
    &::before{
        position: absolute;
        font-weight: bold;
        font-size: 92px;
        line-height: 104px;
        color: rgba(146, 146, 146, 0.06);
        top: -70px;
    }
}

.scope-of-project{
    position: relative;
    .scope-img{
        position: absolute;
        right: 0;
        top: 0;
    }
    .heading{
        &::before{
            content: "Scope";
        }
    }
    .text{
        font-size: 22px;
        line-height: 36px;
        text-transform: capitalize;
        color: #000000;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .obj{
        @extend .text;
        margin-top: 40px;
        font-weight: 600;
    }
    .midhead{
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        color: #1761B9;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .stats-box{
        background: linear-gradient(180deg, rgba(210, 231, 255, 0.7) 0%, rgba(175, 207, 245, 0) 100%);
        border-radius: 8px;
        padding: 20px 30px;
        .icon{
            width: 60px;
            height: 50px;
            display: flex;
            align-items: center;
        }
        .cont{
            font-size: 20px;
            line-height: 28px;
            text-transform: capitalize;
            color: #1761B9;
            margin-top: 10px;
        }
        .stats{
            font-weight: bold;
            font-size: 44px;
            line-height: 58px;
            color: #1761B9;
        }
    }
}

.technology-used{
    .heading{
        text-align: center;
        &::before{
            content: "Technology";
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .flex{
        display: flex;
        justify-content: center;
    }
    .tech-box{
        text-align: center;
        float: left;
        margin-left: 60px;
        margin-top: 50px;
        &:first-child{
            margin-left: 0;
        }
        .text{
            font-size: 18px;
            line-height: 30px;
            text-transform: capitalize;
            color: #1F1F1F;
            margin-top: 10px;
        }
    }
}

.problem-challange{
    position: relative;
    .problem-img{
        position: absolute;
        right: 0;
        top: -80px;
    }
    .heading{
        &::before{
            content: "Problem";
        }
    }
    .text{
        font-size: 18px;
        line-height: 32px;
        color: #464646;
        margin-top: 25px;
    }
    .row2{
        margin-top: 180px;
        .problem-box{
            padding: 60px 35px 45px;
            background: #FCFCFC;
            border: 1px solid #EBEBEB;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.02);
            border-radius: 2px;
            position: relative;
            .num{
                width: 65px;
                height: 65px;
                border: 2px solid #1761B9;
                text-align: center;
                line-height: 65px;
                font-size: 26px;
                border-radius: 50%;
                color: #1761B9;
                position: absolute;
                top: -33px;
                background: #FFFFFF;
            }
            h4{
                font-size: 22px;
                line-height: 30px;
                color: #333333;
                margin-bottom: 12px;
            }
            p{
                font-size: 18px;
                line-height: 30px;
                text-transform: capitalize;
                color: #464646;
                margin-bottom: 0;
            }
        }
    }
}


.project-process{
    position: relative;
    padding: 100px 0 130px;
    background-image: url("../img/our-process.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    .heading{
        text-align: center;
        &::before{
            content: "Process";
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .project-box{
        margin-top: 60px;
        padding-right: 20px;
        .icon{
            width: auto;
            height: 70px;
            display: flex;
            align-items: center;
        }
        .title{
            font-size: 30px;
            color: #4A4A4A;
            margin-top: 20px;
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;
            &::before{
                content: "";
                width: 2px;
                height: 20px;
                background: #1761B9;
                position: absolute;
                left: 5px;
                top: 9px;
            }
        }
        .content{
            font-size: 18px;
            line-height: 32px;
            color: #4D4D4D;
            padding-left: 20px;
            span{
                font-weight: bold;
            }
        }
    }
}

.discover{
    .subhead{
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #4D4D4D;
        margin-top: 5px;
        margin-bottom: 50px;
        span{
            font-weight: bold;
        }
    }
}

.brainstorming{
    padding-top: 50px;
    .heading{
        text-align: center;
        &::before{
            content: "Brainstorming";
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .miro{
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .it{
        width: 100%;
        max-width: 100%;
        background: #F9FCFF;
        padding: 65px 0;
        margin-top: 80px;
        .head{
            font-weight: 500;
            font-size: 30px;
            line-height: 42px;
            color: #4A4A4A;
            margin: 16px 0 8px;
        }
        .subhead{
            font-size: 18px;
            line-height: 30px;
            color: #4D4D4D;
            margin-bottom: 30px;
        }
        .it-img{
            mix-blend-mode: multiply;
        }
    }
}